<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="MiniCastScreenRate" value="20"/>
		<add key="MiniCastScreenResolution" value="160"/>
		<add key="ControlCastScreenRate" value="45"/>
		<add key="ControlCastScreenResolution" value="720"/>
		<add key="ScreenMiniWidth" value="0"/>
		<add key="ScreenMaxWidth" value="0"/>
		<add key="ScreenCurrentWidth" value="0"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
